-if tasks
  -tasks.each do |task|
    %tr{class:task_row_class(task)}
      %td
        =task_category(task)
      %td{style:"padding-left:#{15*task_level}px"}
        =link_to task.title, project_task_path(@project, task)
      %td{class:task_status_class(task.status)}
        =task_status(task)
    =render partial:'tasks/task_list', locals:{tasks: subtasks_by_status(task), task_level: task_level+1} if task.subtasks.present?
