Current Project:
=@project.project_name
%br
=render partial: 'project_list'
%br
/Filter:
/=link_to "Things Being Processed", project_tasks_path(@project, filter: { status: [Task::STATUS[:pending], Task::STATUS[:in_process]] })
/=link_to "Things Complete", project_tasks_path(@project, filter: { status: Task::STATUS[:done] })
%br
%br
%table{style:'width:800px', cellspacing: 0, cellpadding: 0}
  %thead
    %th{style:'width:100px;text-align:left;background-color:#dddddd;'}
      Task Type
    %th{style:'width:600px;text-align:left;background-color:#dddddd;'}
      Task Name
    %th{style:'width:100px;text-align:left;background-color:#dddddd;'}
      Status
  =render partial: 'tasks/task_list', locals: {tasks: @tasks, task_level:0} if @tasks

=link_to("Add New Task", new_project_task_path(@project)) + "|" + link_to("New Group", new_project_task_group_path(@project))