// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 20px;
}

td {
  border: 1px solid #cccccc;
  a:link {text-decoration: none;}
}

.navbar {
  top: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 20px;
  text-align: right;
  width:100%;
}

.task-description {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.task-comment-content {
  background-color: #cccccc;
  border: 1px solid black;
}

.task-status-yellow {
  background-color: #ffff00;
}

.task-status-green {
  background-color: #008000;
}